footer {
    background-color: rgba(0, 99, 115, 1);
    width: 100%;
}

footer p {
    color: white;
}

@media (max-width: 1300px) {
    footer p {
        font-size: 12px;
        padding: 20px;
    }
}

@media (min-width: 1301px) {
    footer p {
        font-size: 14px;
        padding: 30px;
    }
}

