* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    flex: 1 0 auto;
    /* margin-left: 200px; */
    /* margin-right: 200px; */
}

body {
    background-color: rgba(191, 213, 201, 1);
}

@media (max-width: 1000px) {
    /* Homepage
    ------------------ */

    .homepage {
        margin-bottom: 60px;
    }

    .homepage h1 {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        background-color: rgba(232, 137, 29, 1);
        padding: 10px;
        width: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .exhibition-spaces-desktop {
        display: none;
    }

    .robotics img {
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .robotics {
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: rgba(5, 163, 164, 1);
        border-radius: 20px;
    }

    .robotics-heading, .robotics-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .robotics-heading h2 {
        position: absolute;
        color: rgba(232, 137, 29, 1);
        background-color: white;
        text-transform: uppercase;
        font-size: 18px;
        padding: 15px;
        text-align: center;
    }

    .robotics-text p {
        font-size: 16px;
        padding: 20px;
    }

    .exhibition-button {
        display: flex;
        justify-content: center;
    }

    .exhibition-spaces-button {
        background-color: rgba(232, 137, 29, 1);
        border: none;
        padding: 10px;
        border-radius: 10px;
    }

    .exhibition-spaces-button a {
        color: white;
        text-transform: uppercase;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }



    /* Explore-home
    -------------------- */
    .explore {
        margin-bottom: 60px;
    }

    .explore h3 {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        background-color: rgba(0, 99, 115, 1);
        padding: 10px;
        width: 300px;
        margin-top: 80px;
        margin-bottom: 50px;
        text-align: center;
        /* float: right; */
    }

    .explore-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .explore-content img {
        width: 100%;
        object-fit: fill;
        border-radius: 50%;
        border: 3px solid rgba(232, 137, 29, 1);
    }

    .explore-image {
        flex: 1 1 0px;
        margin: 5px;
        min-width: 0;
    }

    .explore-content p {
        display: none;
    }

    .explore-button {
        display: flex;
        justify-content: center;
    }

    .explore-button1 {
        background-color: rgba(0, 99, 115, 1);
        margin-top: 30px;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }

    .explore-button1 a {
        color: white;
        text-transform: uppercase;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }


    /* Special events and exhibitions
    ------------------------------------- */

    .events img {
        width: 100%;
    }

    .events {
        position: relative;
        display: grid;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .events-heading {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .events-heading h4 {
        position: absolute;
        color: rgba(0, 99, 115, 1);
        background-color: rgba(191, 213, 201, 0.75);
        text-transform: uppercase;
        font-size: 18px;
        padding: 8px;
        text-align: center;
    }

    .events-text {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }

    .professor-text, .night-text, .energetica-text {
        background-color: rgba(0, 99, 115, 1);
        border-radius: 10px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .events-text h5 {
        color: rgba(232, 137, 29, 1);
        font-size: 18px;
        padding: 5px;
        text-transform: uppercase;
    }

    .events-text p {
        color: white;
        font-size: 16px;
        padding: 5px;
    }

    /* About 
    ------------------- */
    .about {
        margin-bottom: 60px;
    }

    .about h1 {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        background-color: rgba(232, 137, 29, 1);
        padding: 10px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .about-text {
        background-color: rgba(5, 163, 164, 1);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .about p {
        color: black;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }

    .images1 img {
        width: 100%;
    }

    .images1 {
        display: grid;
        margin: 10px;
    }

    .images1 {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        border: 3px solid rgba(232, 137, 29, 1);
    }

    .images1 .column1 img {
        vertical-align: middle;
    }

    .images1 .column2 img {
        vertical-align: middle;
    }

    .images2 img {
        width: 100%;
        border: 3px solid rgba(232, 137, 29, 1);
    }

    .images2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        gap: 5px;
    }

    /* Visit 
    --------------------- */

    .visit {
        margin-bottom: 60px;
    }

    .visit h1 {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        background-color: rgba(232, 137, 29, 1);
        padding: 10px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .visit img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border: 4px solid rgba(5, 163, 164, 1);
    }

    .visit-information, .visit-information-hours {
        background-color: rgba(5, 163, 164, 1);
        text-align: center;
        margin: 20px;
        border-radius: 10px;
    }

    .visit-information h2, .visit-information-hours h2 {
        padding: 10px;
        color: rgba(0, 99, 115, 1);
        text-transform: uppercase;
        font-size: 18px;
    }

    .visit-information p {
        padding: 10px;
        color: white;
        font-size: 16px;
    }

    .visit-information-hours {
        color: white;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Get involved 
    ----------------- */

    .get-involved {
        margin-bottom: 60px;
    }

    .get-involved h1 {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        background-color: rgba(232, 137, 29, 1);
        padding: 10px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .support img, .volunteer img, .internships img {
        width: 100%;
    }

    .support, .volunteer, .internships {
        /* position: relative; */
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: rgba(191, 213, 201, 1);
        text-align: center;
        border: 5px solid rgba(0, 99, 115, 1);
    }

    .support-text, .volunteer-text, .internships-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .support-text h2, .volunteer-text h2, .internships-text h2 {
        color: rgba(0, 99, 115, 1);
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px;
    }

    .support-text p, .volunteer-text p, .internships-text p {
        font-size: 16px;
        padding: 5px;
    }

    /* Explore page 
    -------------------- */

    .explore-page {
        margin-bottom: 60px;
    }

    .explore-page h1 {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        background-color: rgba(232, 137, 29, 1);
        padding: 10px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .for-kids img, .for-teachers img, .for-researchers img {
        width: 100%;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .for-kids, .for-teachers, .for-researchers {
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .for-kids-heading, .for-kids-text, .for-teachers-heading, .for-teachers-text, .for-researchers-heading, .for-researchers-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .for-kids-heading h2, .for-teachers-heading h2, .for-researchers-heading h2 {
        position: absolute;
        color: rgba(232, 137, 29, 1);
        background-color: white;
        text-transform: uppercase;
        font-size: 18px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .for-kids-text, .for-teachers-text, .for-researchers-text {
        background-color: rgba(0, 99, 115, 1);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .for-kids-text p, .for-teachers-text p, .for-researchers-text p {
        font-size: 16px;
        padding: 10px;
        color: white;
    }

    /* Exhibition spaces page
    ----------------------------- */
    .exhibition-spaces {
        margin-bottom: 60px;
    }

    .exhibition-spaces h1 {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        background-color: rgba(232, 137, 29, 1);
        padding: 10px;
        width: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .robotics1 img, .ecology img, .evolution img, .cosmology img, .medicine img {
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .robotics1, .ecology, .evolution, .cosmology, .medicine {
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: rgba(5, 163, 164, 1);
        border-radius: 20px;
    }

    .robotics1-heading, .robotics1-text, .ecology-heading, .ecology-text, .evolution-heading, .evolution-text, .cosmology-heading, .cosmology-text, .medicine-heading, .medicine-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .robotics1-heading h2, .ecology-heading h2, .evolution-heading h2, .cosmology-heading h2, .medicine-heading h2 {
        position: absolute;
        color: rgba(232, 137, 29, 1);
        background-color: white;
        text-transform: uppercase;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .robotics1-text p, .ecology-text p, .evolution-text p, .cosmology-text p, .medicine-text p {
        font-size: 16px;
        padding: 20px;
    }
}












@media (min-width: 1001px) {

    .homepage {
        margin-bottom: 60px;
    }

    .homepage h1 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        background-color: rgba(232, 137, 29, 1);
        padding: 20px;
        width: 400px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }

    .robotics {
        display: none;
    }

    .exhibition-spaces1 {
        display: flex;
        flex-direction: row;
        margin-left: 15%;
        margin-right: 15%;
    }

    .exhibition-spaces2 {
        display: none;
    }

    .robotics1 img, .ecology img, .evolution img {
        width: 100%;
        object-fit: fill;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .robotics1, .ecology, .evolution {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: rgba(5, 163, 164, 1);
        border-radius: 20px;
        flex: 1 1 0px;

    }

    .robotics1-heading, .robotics1-text, .ecology-heading, .ecology-text, .evolution-heading, .evolution-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: fit-content;
    }

    .robotics1-heading h2, .ecology-heading h2, .evolution-heading h2 {
        position: absolute;
        color: rgba(232, 137, 29, 1);
        background-color: white;
        text-transform: uppercase;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .robotics1-text p, .ecology-text p, .evolution-text p {
        font-size: 18px;
        padding: 20px;
    }

    .exhibition-spaces-button {
        display: none;
    }

    .exhibition-button1 {
        display: flex;
        justify-content: center;
    }

    .exhibition-spaces-button1 {
        background-color: rgba(232, 137, 29, 1);
        border: none;
        padding: 15px;
        border-radius: 10px;
    }

    .exhibition-spaces-button1 a {
        color: white;
        text-transform: uppercase;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }



    /* Explore-home
    -------------------- */
    .explore {
        margin-bottom: 60px;
    }

    .explore h3 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        background-color: rgba(0, 99, 115, 1);
        padding: 20px;
        width: 400px;
        margin-top: 80px;
        margin-bottom: 40px;
        text-align: center;
        /* float: right; */
    }

    .explore-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 15%;
        margin-left: 15%;
    }

    .explore-content img {
        width: 100%;
        object-fit: fill;
        border-radius: 50%;
        border: 3px solid rgba(232, 137, 29, 1);
    }

    .explore-image {
        flex: 1 1 0px;
        margin: 10px;
        min-width: 0;
    }

    .explore-content p {
        display: none;
    }
        /* text-align: center;
        margin-top: 20px;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        background-color: rgba(232, 137, 29, 1);
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
    } */

    .explore-button {
        display: flex;
        justify-content: center;
    }

    .explore-button1 {
        background-color: rgba(0, 99, 115, 1);
        margin-top: 30px;
        border: none;
        padding: 15px;
        border-radius: 10px;
    }

    .explore-button1 a {
        color: white;
        text-transform: uppercase;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }



    /* Special events and exhibitions
    ------------------------------------- */

    .events img {
        width: 100%;
    }

    .events {
        /* position: relative; */
        /* display: grid; */
        /* margin-top: 100px; */
        margin-bottom: 60px;
        margin-right: 20%;
        margin-left: 20%;
    }

    .events-heading {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .events-heading h4 {
        position: absolute;
        color: rgba(0, 99, 115, 1);
        background-color: rgba(191, 213, 201, 0.75);
        text-transform: uppercase;
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }

    .events-text {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .professor-text, .night-text, .energetica-text {
        background-color: rgba(0, 99, 115, 1);
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
    }

    .events-text h5 {
        color: rgba(232, 137, 29, 1);
        font-size: 20px;
        padding: 5px;
        text-transform: uppercase;
    }

    .events-text p {
        color: white;
        font-size: 18px;
        padding: 5px;
    }

    /* About 
    ------------------- */
    .about {
        margin-bottom: 60px;
    }

    .about-content {
        margin-left: 20%;
        margin-right: 20%;
    }

    .about h1 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        background-color: rgba(232, 137, 29, 1);
        padding: 20px;
        width: 350px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }

    .about-text {
        background-color: rgba(5, 163, 164, 1);
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .about p {
        color: black;
        font-size: 16px;
        padding: 30px;
        text-align: center;
    }

    .images1 img {
        width: 100%;
    }

    .images1 {
        display: grid;
        margin: 10px;
    }

    .images1 {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        border: 3px solid rgba(232, 137, 29, 1);
    }

    .images1 .column1 img {
        vertical-align: middle;
    }

    .images1 .column2 img {
        vertical-align: middle;
    }

    .images2 img {
        width: 100%;
        border: 3px solid rgba(232, 137, 29, 1);
    }

    .images2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        gap: 5px;
    }

    /* Visit 
    --------------------- */

    .visit {
        margin-bottom: 60px;
    }

    .visit-content {
        margin-left: 25%;
        margin-right: 25%;
    }

    .visit h1 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        background-color: rgba(232, 137, 29, 1);
        padding: 20px;
        width: 350px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }

    .visit img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border: 4px solid rgba(5, 163, 164, 1);
    }

    .visit-information, .visit-information-hours {
        background-color: rgba(5, 163, 164, 1);
        text-align: center;
        margin: 20px;
        border-radius: 10px;
    }

    .visit-information h2, .visit-information-hours h2 {
        padding: 10px;
        color: rgba(0, 99, 115, 1);
        text-transform: uppercase;
        font-size: 18px;
    }

    .visit-information p {
        padding: 10px;
        color: white;
        font-size: 16px;
    }

    .visit-information-hours {
        color: white;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Get involved 
    ----------------- */

    .get-involved {
        margin-bottom: 60px;
    }

    .get-involved-content {
        margin-left: 20%;
        margin-right: 20%;
    }

    .get-involved-content {
        display: flex;
        flex-direction: row;
    }

    .get-involved h1 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        background-color: rgba(232, 137, 29, 1);
        padding: 20px;
        width: 350px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }

    .support img, .volunteer img, .internships img {
        width: 100%;
    }

    .support, .volunteer, .internships {
        /* position: relative; */
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: rgba(191, 213, 201, 1);
        text-align: center;
        border: 5px solid rgba(0, 99, 115, 1);
        flex: 1 0 0px;
    }

    .support-text, .volunteer-text, .internships-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    .support-text h2, .volunteer-text h2, .internships-text h2 {
        color: rgba(0, 99, 115, 1);
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px;
    }

    .support-text p, .volunteer-text p, .internships-text p {
        font-size: 16px;
        padding: 5px;
    }

    /* Explore page 
    -------------------- */

    .explore-page {
        margin-bottom: 60px;
    }

    .explore-page h1 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        background-color: rgba(232, 137, 29, 1);
        padding: 20px;
        width: 350px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }

    .explore-content1 {
        margin-right: 15%;
        margin-left: 15%;
        display: flex;
        flex-direction: row;
    }

    .for-kids img, .for-teachers img, .for-researchers img {
        width: 100%;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .for-kids, .for-teachers, .for-researchers {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        flex: 1 1 0px;
    }

    .for-kids-heading, .for-kids-text, .for-teachers-heading, .for-teachers-text, .for-researchers-heading, .for-researchers-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .for-kids-heading h2, .for-teachers-heading h2, .for-researchers-heading h2 {
        position: absolute;
        color: rgba(232, 137, 29, 1);
        background-color: white;
        text-transform: uppercase;
        font-size: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .for-kids-text, .for-teachers-text, .for-researchers-text {
        background-color: rgba(0, 99, 115, 1);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .for-kids-text p, .for-teachers-text p, .for-researchers-text p {
        font-size: 18px;
        padding: 10px;
        color: white;
    }

    /* Exhibition spaces page 
    -------------------- */

    .exhibition-spaces {
        margin-bottom: 60px;
    }

    .exhibition-spaces h1 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        background-color: rgba(232, 137, 29, 1);
        padding: 20px;
        width: 400px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }

    .exhibition-spaces3 {
        display: flex;
        flex-direction: row;
        margin-left: 15%;
        margin-right: 15%;
    }

    .exhibition-spaces4 {
        display: flex;
        flex-direction: row;
        margin-left: 15%;
        margin-right: 15%;
    }

    .robotics1 img, .ecology img, .evolution img, .cosmology img, .medicine img {
        width: 100%;
        object-fit: fill;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .robotics1, .ecology, .evolution, .cosmology, .medicine {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: rgba(5, 163, 164, 1);
        border-radius: 20px;
        flex: 1 1 0px;

    }

    .robotics1-heading, .robotics1-text, .ecology-heading, .ecology-text, .evolution-heading, .evolution-text, .cosmology-heading, .cosmology-text, .medicine-heading, .medicine-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: fit-content;
    }

    .robotics1-heading h2, .ecology-heading h2, .evolution-heading h2, .cosmology-heading h2, .medicine-heading h2 {
        position: absolute;
        color: rgba(232, 137, 29, 1);
        background-color: white;
        text-transform: uppercase;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .robotics1-text p, .ecology-text p, .evolution-text p, .cosmology-text p, .medicine-text p {
        font-size: 18px;
        padding: 20px;
    }
}